test/
tests/
coverage/
build/
.nyc_output/
.circleci/
docs/
jsdoc/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
commitlint.config.js
.vscode
.env
.travis.yml
CHANGELOG.md
.vscode/
*.exe
*.obj